/Mini Project - 12
/Mini Project - 2 (sigma Batch) = CSS
/Mini Project - 3(Sigma Batch) = JS
/Mini Project - 4 ( Sigma Batch)
/Mini Project - 5(Sigma Batch)
/Mini Project - 6(UltraEdit Webpage)
/Mini Project -1 (Apna College) - batch
/Project-1(Landing Page)
/Project-10(Multiplication Game)
/Project-11(Facebook Clone)(Responsive)
/Project-2(coffee website)
/Project-3(Amazon Clone)
/Project-4(Valentine's Day Card)
/Project-5(Tic Tac Toe game)
/Project-6(Rock,Paper,Scissor Game)
/Project-7(Apna College) - batch = Spotify Clone
/Project-8(Quote Generator)
/Project-9(Basic) = PW